:root{
    --color-bg:#1E1F24;
    --color-text:#FCFCFF;
    --color-primary:#C2A7FC;
    --color-bg-secondary:#545454;
    --color-text-secondary:#E4E4E4;

}

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.layout{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3rem auto;
}

button, textarea, input{
    font-family: "roboto", sans-serif;
}


/*Header----------------------------------------------------*/
header{
    grid-row:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    border-bottom: 1px solid var(--color-primary);
    position: sticky;
    top: 0vh;
    /* width: 100%; */
    /* height: 3rem; */
    /* box-sizing: border-box; */
    background-color: var(--color-bg);
}

header nav{
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 100%;
}

.iconeActionHeader{
    height: 1.5rem;
}

header button, #navBarre button ,.cardCommentIcones button{
    background-color: var(--color-bg);
    fill: var(--color-text);
    border: 1px solid var(--color-bg);
    transition: 0.1s ease border;
    cursor: pointer;
    height: 100%;
}

/*Survol des boutons et liens*/
header button:hover, #navBarre a:hover, #navBarre button:hover{
    background-color:  var(--color-bg-secondary);
}

header input{
    display: none;
    border-radius: 1rem;
    border: solid 1px var(--color-text);
    background-color: var(--color-bg);
}
input::placeholder{
    color: var(--color-text);
}

#logo{
    display: block;
}


/*Sidebar------------------------------*/
#navBarre{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 3rem;
    max-height: 50vh;
    overflow-y: auto;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navBarre a, #navBarre button{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text);
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.iconeNav{
    fill: var(--color-text);
    width: 2rem;
}

#navPlus{
    display: none;
}
#navPlus a{
    margin: 0;
}

.navPlusBtn{
    width: 100%;
}



/*Footer----------------------------------*/
footer{
    /* justify-content: flex-end; */
    display: none;
    flex-direction: column;
    padding-left: 1rem;
    position: fixed;
    bottom: 0vh;
}

footer a{
    color: var(--color-text);
    padding: 0.5rem 0;
}

/*Main-------------------------------*/
main{
    grid-row: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

h1{
    grid-column: 1;
    grid-row: 2;
    font-size: 1.7rem;
    margin: 1rem 5vw;
}

h2,h3{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h2{
    border-bottom: #FCFCFF solid 1px;
    font-size: 1.2rem;
}

/*Fil d'ariane----------------*/
.breadcrumb{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin: 1vh 5vw;
}

.breadcrumb ol{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.breadcrumb li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-text-secondary);
}

.breadcrumb li:not(:last-child)::after {
    content: ">";
}

.breadcrumb li a{
    display: block;
    text-decoration: none;
    color: var(--color-text-secondary);
}

.breadcrumb li a:hover{
    text-decoration: underline;
}



/*Section principale du main------------*/
.sectionPrincipale{
    grid-column: 1;
    grid-row: 3;
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*Card commentaire----------------*/
.cardComment{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--color-text-secondary);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.sectionPrincipale form button{
    padding: 0 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.profileFoto{
    height: 4rem;
}

.responses{/*réponses à un commentaire*/
    margin-left: 4vw;
    padding-left: 4vw;
    border-left: 1px solid var(--color-text-secondary);
    /* display: none; */
}

    
.cardCommentHeader {
    display: flex;
    gap: 1rem;
}

.pseudo{
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
}

.pseudo:hover{
    text-decoration: underline;
}

.cardCommentHeader .date{
    color: var(--color-text-secondary);
    font-size: 1rem;
}

.cardCommentInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.cardCommentIcones{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cardCommentIcones div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.cardCommentIcones button, .cardCommentIcones span{
    color: var(--color-text);
    font-size: 1rem;
    padding: 0 0.5rem;
}

.iconeAction{
    height: 1.5rem;
}

article form{
    margin: 0.5rem 0;
    display: flex;
    height: 2rem;
    gap: 1rem;
}
article form textarea{
    flex-grow: 1;
    border-radius: 1rem;
    border: solid 1px var(--color-text);
    background-color: var(--color-bg);
    resize: none;
    display: flex;
    color: var(--color-text);
}

textarea::placeholder{
    color: var(--color-text);
}


/*section aside du main------------------*/
main aside{
    display: none;
    flex-direction: column;
    gap: 2rem;
}

.cardBook{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin: 1rem auto;
    width: 10rem;
}

.cardBook img{
    width: 10rem;
}

.cardBook span{
    color: var(--color-text-secondary);
}

.cardBook button{
    background-color: var(--color-primary);
    border-radius: 1rem;
    border: none;
    padding: 0 1vw;
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
    color: var(--color-bg);
    cursor: pointer;
}

.titleCardBook{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
}

.titleCardBook:hover{
    text-decoration: underline;
}

/*Responsive*/
/*Tablette*/
@media screen and (min-width : 640px){
    .layout{
    display: grid;
    grid-template-columns: 14rem auto;
    grid-template-rows: 3rem auto;
    }
    #navBarre{
        display: flex;
        /* grid-column: 1;
        grid-row: 2; */
    }
    footer{
        display: flex;
        /* grid-column: 1;
        grid-row: 3; */
    }
    header{
    grid-column: 1/span 2;
    }
    main{
    grid-column: 2;
    grid-row: 2;
    }
    
    header input{
    display: block;
    }

    header form{
        display: flex;
        gap: 0.5rem;
    }

    #menu{
    display: none;
}
}

/*Laptop*/
@media screen and (min-width: 1024px){
    main{
        display: grid;
        grid-template-columns: auto 14rem;
    }
    h1{
        grid-column: 1/span 2;
        grid-row: 2;
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    main aside{
    display: flex;
    grid-column: 2;
    grid-row: 3;
    }
}