:root{
    --color-bg:#1E1F24;
    --color-text:#FCFCFF;
    --color-primary:#C2A7FC;
    --color-bg-secondary:#545454;
    --color-text-secondary:#E4E4E4;

}

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.layout{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6vh auto;
}

/*Header----------------------------------------------------*/
header{
    grid-row:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3vw;
    border-bottom: 1px solid var(--color-primary);
}

header nav{
    display: flex;
    align-items: center;
    gap: 2vw;
}

header button, #navBarre button{
    background-color: var(--color-bg);
    fill: var(--color-text);
    border: 1px solid var(--color-bg);
    transition: 0.1s ease border;
    cursor: pointer;
    border-radius: 5px;
}

/*Survol des boutons et liens*/
header button:hover, #navBarre a:hover, #navBarre button:hover{
    background-color:  var(--color-bg-secondary);
}

header input{
    display: none;
    border-radius: 20px;
    border: none;
}

#logo{
    display: block;
}


/*Sidebar------------------------------*/
#navBarre{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 6vh;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navBarre a, #navBarre button{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text);
    padding: 1rem;
    margin: 1rem 0;
}

.iconeNav{
    fill: var(--color-text);
    width: 40px;
}

#navPlus a{
    margin: 0;
}


/*Footer----------------------------------*/
footer{
    /* justify-content: flex-end; */
    display: none;
    flex-direction: column;
    padding-left: 1rem;
    position: fixed;
    bottom: 0vh;
}

footer a{
    color: var(--color-text);
    padding: 0.5rem 0;
}

/*Main-------------------------------*/
main{
    grid-row: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3vh 5vh auto;
}

h1{
    grid-column: 1;
    grid-row: 2;
    /* font-size: 24px; */
    margin: 0rem 5vw;
}

h2,h3,h4,h5{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

/*Fil d'ariane----------------*/
.breadcrumb{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin: 0rem 5vw;
}

.breadcrumb ol{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.breadcrumb li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-text-secondary);
}

.breadcrumb li:not(:last-child)::after {
    content: ">";
}

.breadcrumb li a{
    display: block;
    text-decoration: none;
    color: var(--color-text-secondary);
}

.breadcrumb li a:hover{
    text-decoration: underline;
}



/*Section principale du main------------*/
.sectionPrincipale{
    grid-column: 1;
    grid-row: 3;
    margin: 0rem 5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


/*section aside du main------------------*/
main aside{
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/*Responsive*/

/*Tablette*/
@media screen and (min-width : 640px){
    .layout{
    display: grid;
    grid-template-columns: 14rem auto;
    grid-template-rows: 6vh 70vh 24vh;
    }

    #navBarre{
        display: flex;
        grid-column: 1;
        grid-row: 2;
    }
    footer{
        display: flex;
        grid-column: 1;
        grid-row: 3;
    }
    header{
    grid-column: 1/span 2;
    }
    main{
    grid-column: 2;
    grid-row: 2/span 2;
    }
    
    header input{
    display: block;
    }

    header form{
        display: flex;
        gap: 0.5rem;
    }

    #menu{
    display: none;
}
}

/*Laptop*/
@media screen and (min-width: 1024px){
    main{
        display: grid;
        grid-template-columns: auto minmax(15rem,16vw);
    }
    h1{
        grid-column: 1/span 2;
        grid-row: 2;
    }
    main aside{
    display: flex;
    grid-column: 2;
    grid-row: 3;
    }
}